.discarded-tile-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: flex-start;
	align-items: center;
	padding: 20px;
	border: 2px solid black;
	border-radius: 7.5px;
	text-align: center;
}

.discarded-tile-container__tile {
	display: block;
	margin: 5px;
}

