.discarded-tile-container {
	border: 2px solid black;
	border-radius: 7.5px;
	width: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.tile-container {
	display: block;
	width: 29.1746%;
}

