.landing-page-form {
	display: flex;
	flex-direction: column;
}

.landing-page-form__btn-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landing-page-form__submit-btn,
.landing-page-form__back-btn {
	flex-grow: 1;
	margin: .3em;
	padding: .3em .7em;
	border-radius: .2em;
}

.landing-page-form__submit-btn:focus,
.landing-page-form__back-btn:focus {
	outline: thin dotted;
}

