.landing-page-form {
	display: flex;
	flex-direction: column;
}

.landing-page-form__btn-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landing-page-form__submit-btn {
	flex-grow: 1;
}

.landing-page-form__back-btn {
	flex-grow: 1;
}

