.landing-page {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.landing-page-form {
	flex-direction: column;
}

.landing-page-btn {
	margin: .3em;
	padding: .5em .75em;
	border-radius: .85em;
	font-size: 1.1em;
}

.landing-page-btn:focus {
	outline: none;
	border: 0.08em dotted #7a7a7a;
	margin: 0.37em;
}

