.melds-container {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 7.5px;
	padding: 10px;
	min-height: 105px;
}

.melds-container-title {
	display: block;
	margin-bottom: 10px;
}

.melds-container--state-hover {
	box-shadow: 0 0 10px rgba(252, 186, 3, 1);
}

