.meld-tile-container {
	display: block;
	margin: 2px;
}

.meld-container {
	display: flex;
	flex-direction: row;
	border: 0.5px solid black;
	border-radius: 7.5px;
	padding: 5px;
}

.melds-container-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

