.overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.overlay__heading {
}

.overlay__button {
	background-color: rgba(0, 0, 0, 0.5);
}

