.div__waiting-room {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* BEGIN - duplicated from LandingPage.css */
.waiting-room__start-game-btn {
	margin: .3em;
	padding: .5em .75em;
	border-radius: .85em;
	font-size: 1.1em;
}

.waiting-room__start-game-btn:focus {
	outline: thin dotted;
}
/* END - duplicated from LandingPage.css */

table.waiting-room__opponents-table {
	table-layout: fixed;
	border: .1vh solid black;
	border-collapse: collapse;
	margin-bottom: .5vh;
}

.waiting-room__opponents-table th,
.waiting-room__opponents-table tr,
.waiting-room__opponents-table td {
	border: .1vh solid black;
}

.waiting-room__opponents-table th,
.waiting-room__opponents-table td {
	padding: .8vh;
}

.waiting-room__waiting-message {
	margin: .3em;
	padding: .5em .75em;
	border-radius: .85em;
	font-size: 1.1em;
	color: #000000;
	background-color: #CCCCCC;
	border: 0.15em solid #CCCCCC;
	opacity: 0.5;
}

.waiting-room__waiting-message:hover {
	cursor: not-allowed;
}

