{
	"env": {
		"browser": true,
		"jest": true,
		"es6": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["prettier", "@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"prettier/@typescript-eslint",
		"prettier/react"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"rules": {
		"no-console": "warn",
		"no-eval": "error",
		"prettier/prettier": "error"
	}
}