.landing-page-form {
	display: flex;
	flex-direction: column;
}

.landing-page-form__btn-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* similarities to LandingPage.css */
.landing-page-form__submit-btn,
.landing-page-form__back-btn {
	flex-grow: 1;
	margin: .3em;
	padding: .3em .7em;
	border-radius: .2em;
	outline: none;
}

.landing-page-form__submit-btn:focus,
.landing-page-form__back-btn:focus {
	border: 0.1em dotted #7a7a7a;
	margin: 0.35em;
}

.landing-page-form__submit-btn:hover,
.landing-page-form__back-btn:hover {
	border: 0.15em solid #7a7a7a;
	margin: 0.3em;
}

