.player-melds-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*
	border: 1px solid black;
	border-radius: .8vh;
	padding: 1.25vh;
	*/
	min-height: 11.17vh;
}

.player-melds-container-title {
	display: block;
	margin-bottom: 1.06vh;
}

.player-melds-container--state-hover {
	box-shadow: 0 0 1.06vh rgba(252, 186, 3, 1);
}

