.div__blank-tile {
	margin: 5px;
	border: 0.5px solid black;
}

.div__blank-tile--top {
	width: 50px;
	height: 70.36px;
	box-shadow: -2px -2px 2px 2px rgba(191, 191, 191, 1);
}

.div__blank-tile--left, .div__blank-tile--right {
	width: 70.36px;
	height: 50px;
}

.div__blank-tile--left {
	box-shadow: -2px 2px 2px 2px rgba(191, 191, 191, 1);
}

.div__blank-tile--right {
	box-shadow: 2px -2px 2px 2px rgba(191, 191, 191, 1);
}

