.div__hidden-tile {
	margin: .53vh;
	border: 0.5px solid grey;
	border-radius: .75vh;
	background-color: rgba(29, 117, 53, 0.5);
}

.div__hidden-tile--top {
	width: 5.2875vh;
	height: 7.05vh;
	box-shadow: -.21vh -.21vh .21vh .21vh rgba(191, 191, 191, 1);
}

.div__hidden-tile--bottom {
	width: 5.2875vh;
	height: 7.05vh;
	box-shadow: .21vh .21vh .21vh .21vh rgba(191, 191, 191, 1);
}

.div__hidden-tile--left, .div__hidden-tile--right {
	width: 7.05vh;
	height: 5.2875vh;
}

.div__hidden-tile--left {
	box-shadow: -.21vh .21vh .21vh .21vh rgba(191, 191, 191, 1);
}

.div__hidden-tile--right {
	box-shadow: .21vh -.21vh .21vh .21vh rgba(191, 191, 191, 1);
}

