.melds-container-row,
.meld-container-row {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
}

.melds-container-column,
.meld-container-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meld-container-row {
	margin: 0px 5px;
}

.meld-container-column {
	margin: 5px 0px;
}

.meld-container-180 {
	flex-direction: row-reverse;
	margin: 0px 0px 0px 7.5px;
}

.meld-container-ccw {
	flex-direction: column-reverse;
	margin: 7.5px 0px 0px 0px;
}

.meld-container-cw {
	flex-direction: column;
	margin: 0px 0px 7.5px 0px;
}

.meld-tile-container {
	margin: 5px;
}

.meld-tile-container-180 {
}

.meld-tile-container-ccw,
.meld-tile-container-cw {
	position: relative;
	width: 67.79px;
	height: 51px;
}

