.melds-container-row,
.meld-container-row {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
}

.melds-container-column,
.meld-container-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meld-container-row {
	margin: 0 .53vh;
}

.meld-container-column {
	margin: .53vh 0;
}

.meld-container-180 {
	flex-direction: row-reverse;
	margin: 0 0 0 .8vh;
}

.meld-container-ccw {
	flex-direction: column-reverse;
	margin: .8vh 0 0 0;
}

.meld-container-cw {
	flex-direction: column;
	margin: 0 0 .8vh 0;
}

.meld-tile-container {
	margin: .53vh;
}

.meld-tile-container-180 {
}

.meld-tile-container-ccw,
.meld-tile-container-cw {
	position: relative;
	width: 7.05vh;
	height: 5.2875vh;
}

