.opponent-tile-rack {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 2px solid black;
	border-radius: 7.5px;
}

.opponent-tile-rack-row {
	flex-direction: row;
	align-self: stretch;
	margin: 10px 0px;
}

.opponent-tile-rack-column {
	flex-direction: column;
	margin: 0px 10px;
}

