.opponent-tile-rack {
	display: flex;
	align-items: center;
	justify-content: center;
	/*
	padding: 10px;
	border: 2px solid black;
	border-radius: 7.5px;
	*/
}

.opponent-tile-rack-top {
	flex-direction: row;
	align-self: stretch;
	margin-top: 20px;
}

.opponent-tile-rack-right {
	flex-direction: column;
	margin-right: 10px;
}

.opponent-tile-rack-left {
	flex-direction: column-reverse;
	margin-left: 20px;
}

.opponent-tile-rack--half-opacity {
	opacity: 0.5;
}

