.imgTile {
	display: block;
	width: auto;
	max-height: 7.05vh;
	background-color: rgba(255, 249, 242, 0.5);
	box-shadow: .21vh .21vh .21vh .21vh rgba(191, 191, 191, 1);
	border: 0.5px solid grey;
	border-radius: .75vh;
}

.img--rotated-cw {
	margin: 0;
	position: absolute;
	left: .88125vh;
	top: -.88125vh;
	transform: rotate(90deg);
}

.img--rotated-ccw {
	margin: 0;
	position: absolute;
	left: .88125vh;
	top: -.88125vh;
	transform: rotate(-90deg);
}

.img--rotated-180 {
	margin: 0;
	transform: rotate(180deg);
}

.imgTile--state-selected {
	box-shadow: none;
}

.textTileDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255, 249, 242, 0.5);
	border: 0.5px solid grey;
	border-radius: .75vh;
	text-align: center;
	width: 5.2875vh;
	height: 7.05vh;
}

