body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
button {
	display: block;
	padding: 5px;
	border: 1px solid black;
	border-radius: 15px;
}
*/

button {
	display: block;
	padding:0.2em 1.45em;
	margin:0.1em;
	border:0.15em solid #CCCCCC;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Segoe UI','Roboto',sans-serif;
	font-weight:400;
	color:#000000;
	background-color:#CCCCCC;
	text-align:center;
	position:relative;
}
button:hover {
	border-color:#7a7a7a;
	cursor: pointer;
}
button:active {
	background-color:#999999;
}

